html{
    background-color: rgb(50, 61, 74);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


.container{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    width: 100%;
}

#inputMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2;
}

.playerWindow{
    width: 70%;
    background-color: rgb(30, 38, 44);
    margin: auto;
    margin-bottom: 1rem;
    border: solid 2px;
    border-radius: 5%;
    border-color: rgb(9, 117, 132);
}

.playerWindow input[type="text"]{
    text-align: center;
}

img{
    width: 28px;
    height: 28px;
}

div.playerMenu li{
    display: inline-block;
}

input[type="checkbox"]{
    display: none;
}

label{
    cursor: pointer;
}

label::before{
    display: block;
}

legend{
    border-color: rgb(9, 117, 132); ;
    color:rgb(178, 217, 219);
    background-color: rgb(47, 59, 69);
    border-left: solid 2px;
    border-right: solid 2px;
    border-radius: 100px / 50px;
    padding: 6px;
    font-weight: bold;
}

#outputMenu{
    display: grid;
    width: 100%;
    padding-top: 50px;
    justify-items: center;
}

.noBullets{
    list-style-type: none;
}

.teamDiv{
    width: 80%;
}

#team1Div{
    grid-column: 1 / 2;
}

#team2Div{
    grid-column: 3/4;
}

